/* search bar */
.orange-outline-bar{
    outline: 3px solid #FE552D !important;
    border-radius: 999px 0 0 999px !important;
}

/* search icon */
.orange-outline-icon{
    outline: 3px solid #FE552D !important;
    border-radius: 0 999px 999px 0 !important;
}