/* search bar */
.orange-outline-bar{
    outline: 3px solid #FE552D !important;
    border-radius: 999px 0 0 999px !important;
}

/* search icon */
.orange-outline-icon{
    outline: 3px solid #FE552D !important;
    border-radius: 0 999px 999px 0 !important;
}

/* Dropdown styling */
.nitalDropdownParent,.nitalDropdownParent input,.nitalDropdownParent textarea{
    width: 100%;
}
.dropdown{
    z-index: 9999;
    background-color: white;
    min-width: 65px;
    border-radius: 8px;
    overflow: hidden;
}
.dropdownChoice{
    color: #25282E;
    margin:0;
    cursor: pointer;
    padding:8px 16px;
    transition-duration: 100ms;
    transition-property: background-color;
    border-bottom: solid 1px #d2d2d2;
}
.dropdownChoice:hover{
    background-color: #d2d2d2;
}
.dropdownChoice:focus{
    background-color: #d2d2d2;
    outline: none;
}


/* Remove google dropdown for no-confusions */
/* .UUbT9 .aajZCb{
    display: none;
} */